body {
    font-size: 16px;
}
main {
    margin: 2rem 10%;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h1, h2 {
margin: 0.5rem 0;
}
em {
    font-style: italic;
}
p, li {
    margin-bottom: 0.5rem;
    line-height: 1.4;
}
ul, ol {
    margin: 0.5em 0 0.5em 1.5em;
}
li {
    list-style-type: disc;
}
li li {
    list-style-type: circle;
}
section {
    margin: 1rem 0;
}
